body .gist .gist-file {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
  }
  
  body .gist .blob-code {
    filter: hue-rotate(299deg) brightness(71%) contrast(160%) saturate(150%);
  }
  
  body .gist .blob-wrapper {
    border-radius: 1;
  }
  
  body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
  }
  
  body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }
  
  /* body .gist tr:first-child td {
    padding-top: 15px !important;
  } */
  
  /* body .gist tr:last-child td {
    padding-bottom: 15px !important;
  } */
  
  body .gist .blob-num {
    color: #7a7e82;
    background-color: #e5e6e7;
    pointer-events: none;
  }
  
  body .gist .gist-meta {
    display: none;
  }